 body {
     font-family: 'Comic Sans MS', cursive;
     background-image: url("https://images7.alphacoders.com/115/1158141.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
}
 .BFortnite {
     position: absolute;
     top: 40%;
     right: 10%;
}
 .BFortnite:hover {
     background-color: pink;
}
 #kekw{
     width: 20%;
     height: auto;
}
 #Start {
     width: 70px;
     height: 50px;
}
 #Stopp {
     width: 70px;
     height: 50px;
}
 #gommearrow {
    position:absolute;
     top: 61.8%;
     right: 10%;
     width: 410px;
}
 #Pfeil {
     width: 200px;
}
 #vbucks {
     position: fixed;
     width: 7%;
     height: auto;
     padding: 10px;
}
.Embed {
	position:absolute;
	top:0px;
	right:0px;
}
