* {    
     cursor: url('lama.png')64 64, auto;	
}
body {
     font-family: 'initial', system-ui;
     background-image: url("https://images7.alphacoders.com/115/1158141.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
}
 .BFortnite {
     position: absolute;
     top: 40%;
     right: 10%;
      margin-left: 50px;
}
 .BFortnite:hover {
     background-color: pink;
}
 #kekw{
     width: 20%;
     height: auto;
}
 #Start {
     width: 70px;
     height: 50px;
}
 #Stopp {
     width: 70px;
     height: 50px;
}
 #gommearrow {
    position:absolute;
     top: 61.8%;
     right: 11%;
     width: 320px;

}
 #Pfeil {
     width: 200px;
            margin-right: 50px;
}
#Gomme {
    position:absolute;
    width:200px;
    height:100px;
}
 #vbucks {
     position: fixed;
     top:-500;
     width: 7%;
     height: auto;
     padding: 10px;
}
